
        body{
            background-color: rgb(4, 97, 160);
            }
        #title {
            color: rgb(250, 22, 22);
            font-size: 100px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
               }
        .para {
            background-color:rgb(224, 224, 77);
            color: rgb(26, 1, 1);
            display: flex;
            justify-content: center;
            align-items: center;
              }
        .para1 {
          color: rgb(26, 1, 1);
          display: flex;   
               }
        .list {
           color: rgb(26, 1, 1);
              }
        #img {
          display: block;
          margin: auto;
             }
